.cardListWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  .first-row {
    height: 40vh;
    width: 90vw;
    
  }
  
  .second-row {
    height: 40vh;
    width: 90vw;

  }
}